<div class="container-fluid">
  <%= simple_form_for(@wizard_user, url: create_path) do |f| %>
    <%= f.error_notification %>

    <% if flash.now[:error] %>
      <div class="alert alert-danger"><%= flash[:error] %></div>
    <% end %>

    <div class="form-inputs color-select">
      <%= f.input :fave_color, collection: @user.color_options, label: "Favorite Color" %>
    </div>

    <div class="form-inputs color-text">
      <% if @user.submitted_custom_fave_color? %>
        <%= f.input :fave_color, label: "Custom Color", input_html: { value: @wizard_user.fave_color } %>
      <% end %>
    </div>

    <%= render "bottom_menu", f: f, step: "step4", submit_text: "Finish", previous_step_path: onboarding_step3_path %>
  <% end %>
</div>

<%= javascript_include_tag "onboarding/step4" %>
