<h4 class="text-center">Get ready for an unforgettable journey</h4>
<div class="container-fluid">
  <%= simple_form_for(@session_user, url: validate_step_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :first_name, required: true %>
      <%= f.input :last_name, required: true %>
    </div>

    <%= hidden_field_tag :current_step, "step1" %>

    <%= f.submit "Next", class: "btn btn-primary btn-lg" %>
  <% end %>
</div>
