<div class="container-fluid">
  <%= simple_form_for(@wizard_user, url: validate_step_path) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :age_range, collection: @view_user.age_options, label: "Age" %>
    </div>

    <div class="form-inputs">
      <%= f.input :weight_in_lb %>
    </div>

    <div class="form-inputs">
      <%= f.label "Height", required: true %>
      <%= f.input :feet_tall, label: "Feet", required: true %>
      <%= f.input :inches_tall, label: "Inches"%>
    </div>

    <%= render "bottom_menu", f: f, step: "step3", submit_text: "Next", previous_step_path: onboarding_step2_path %>
  <% end %>
</div>
